<svg
    {...Astro.props}
    id="Layer_1"
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 128.94 67.77"
    ><defs
        ><style>
            .cls-1 {
                fill: #ffffff;
            }
            .cls-2 {
                fill: #e4002b;
            }
        </style></defs
    ><title>logo_ERS</title><path
        class="cls-1"
        d="M85.11,23.69H97.63v2.62h-9.5v6.75h7.73v2.63H88.13v6.93h10v2.63h-13Z"
        transform="translate(-5.59 -5.05)"></path><path
        class="cls-1"
        d="M102.61,23.69h6.6a10.76,10.76,0,0,1,4,.49A5.89,5.89,0,0,1,116.87,30,5.9,5.9,0,0,1,113,35.84v.07a6.39,6.39,0,0,1,.64,1l4.58,8.37H114.8l-4.55-8.58h-4.62v8.58h-3ZM110,34a3.59,3.59,0,0,0,3.82-3.91,3.53,3.53,0,0,0-1.71-3.33,6,6,0,0,0-3-.49h-3.49V34Z"
        transform="translate(-5.59 -5.05)"></path><path
        class="cls-1"
        d="M122.25,40.49a8.51,8.51,0,0,0,5.5,2.32c2,0,3.73-1.13,3.73-3.18C131.48,35,121,36,121,29.34c0-3.36,2.9-6,7-6a8.8,8.8,0,0,1,6.1,2.17L132.73,28A7.62,7.62,0,0,0,128,26.13c-2.3,0-3.92,1.44-3.92,3.15,0,4.46,10.45,3.27,10.45,10.26,0,3.33-2.57,6.08-6.84,6.08a10.1,10.1,0,0,1-7.15-2.84Z"
        transform="translate(-5.59 -5.05)"></path><path
        class="cls-1"
        d="M85.15,52.29h3v.46H85.67v1.92h2v.47h-2v2h2.58v.47h-3.1Z"
        transform="translate(-5.59 -5.05)"></path><path
        class="cls-1"
        d="M89.43,52.29h.5l2.69,3.79c.18.26.44.71.44.71h0s0-.43,0-.71V52.29h.52v5.27H93l-2.69-3.79c-.18-.27-.43-.72-.43-.72h0s0,.44,0,.72v3.79h-.51Z"
        transform="translate(-5.59 -5.05)"></path><path
        class="cls-1"
        d="M96.26,52.75h-1.9v-.46h4.3v.46H96.77v4.81h-.51Z"
        transform="translate(-5.59 -5.05)"></path><path
        class="cls-1"
        d="M99.48,52.29H100v5.27h-.52Z"
        transform="translate(-5.59 -5.05)"></path><path
        class="cls-1"
        d="M101.53,52.29h1.7a2.64,2.64,0,1,1,0,5.27h-1.7Zm1.65,4.8a2.17,2.17,0,0,0,0-4.34H102v4.34Z"
        transform="translate(-5.59 -5.05)"></path><path
        class="cls-1"
        d="M109.65,55.88h-2.13l-.6,1.68h-.54l1.93-5.27h.56l1.93,5.27h-.55Zm-1.07-3s-.11.43-.2.68l-.71,1.91h1.82l-.69-1.91c-.09-.25-.2-.68-.2-.68Z"
        transform="translate(-5.59 -5.05)"></path><path
        class="cls-1"
        d="M111.66,52.29h1.7a2.64,2.64,0,1,1,0,5.27h-1.7Zm1.65,4.8a2.17,2.17,0,0,0,0-4.34h-1.13v4.34Z"
        transform="translate(-5.59 -5.05)"></path><path
        class="cls-1"
        d="M117.21,52.29h3v.46h-2.45v1.92h2v.47h-2v2h2.58v.47h-3.1Z"
        transform="translate(-5.59 -5.05)"></path><path
        class="cls-1"
        d="M85.15,59.85h1.56a2.27,2.27,0,0,1,1,.14,1.53,1.53,0,0,1-.2,2.78v0a1,1,0,0,1,.14.21l1.15,2.12h-.6L87,62.9H85.67v2.22h-.52Zm1.77,2.58a1,1,0,0,0,1-1.07,1,1,0,0,0-.48-.92,1.56,1.56,0,0,0-.75-.13H85.67v2.12Z"
        transform="translate(-5.59 -5.05)"></path><path
        class="cls-1"
        d="M89.85,59.85h3v.46H90.37v1.92h2v.47h-2v2H93v.47H89.85Z"
        transform="translate(-5.59 -5.05)"></path><path
        class="cls-1"
        d="M96.39,59.76a2.89,2.89,0,0,1,1.88.61l-.28.39a2.62,2.62,0,0,0-1.57-.52,2.25,2.25,0,0,0,0,4.49A2.31,2.31,0,0,0,98,64v-.9h-.9V62.6h1.39v2.52H98v-.4c0-.11,0-.23,0-.23h0a2.32,2.32,0,0,1-1.71.72,2.61,2.61,0,0,1-2.58-2.73A2.65,2.65,0,0,1,96.39,59.76Z"
        transform="translate(-5.59 -5.05)"></path><path
        class="cls-1"
        d="M99.71,59.85h.52v3.42a1.5,1.5,0,0,0,3,0V59.85h.52v3.43a2,2,0,0,1-4,0Z"
        transform="translate(-5.59 -5.05)"></path><path
        class="cls-1"
        d="M105.2,59.85h.52v4.8h2.44v.47h-3Z"
        transform="translate(-5.59 -5.05)"></path><path
        class="cls-1"
        d="M111.69,63.44h-2.13l-.6,1.68h-.54l1.93-5.27h.56l1.93,5.27h-.55Zm-1.07-3s-.11.44-.2.69L109.71,63h1.82l-.69-1.91c-.09-.25-.2-.69-.2-.69Z"
        transform="translate(-5.59 -5.05)"></path><path
        class="cls-1"
        d="M113.7,59.85h1.7a2.64,2.64,0,1,1,0,5.27h-1.7Zm1.65,4.8a2.17,2.17,0,0,0,0-4.34h-1.13v4.34Z"
        transform="translate(-5.59 -5.05)"></path><path
        class="cls-1"
        d="M121.57,59.76a2.66,2.66,0,0,1,2.69,2.69,2.69,2.69,0,1,1-5.37,0A2.66,2.66,0,0,1,121.57,59.76Zm0,5a2.2,2.2,0,0,0,2.15-2.28,2.15,2.15,0,1,0-4.29,0A2.19,2.19,0,0,0,121.57,64.73Z"
        transform="translate(-5.59 -5.05)"></path><path
        class="cls-1"
        d="M125.43,59.85H127a2.35,2.35,0,0,1,1,.14,1.41,1.41,0,0,1,.79,1.36,1.39,1.39,0,0,1-1,1.42v0a1,1,0,0,1,.14.21l1.15,2.12h-.6l-1.19-2.22h-1.33v2.22h-.51Zm1.77,2.58a1,1,0,0,0,1-1.07,1,1,0,0,0-.48-.92,1.56,1.56,0,0,0-.75-.13h-1.07v2.12Z"
        transform="translate(-5.59 -5.05)"></path><path
        class="cls-1"
        d="M132.74,63.44h-2.13l-.6,1.68h-.54l1.93-5.27H132l1.93,5.27h-.55Zm-1.07-3s-.11.44-.2.69L130.76,63h1.82l-.69-1.91c-.09-.25-.2-.69-.2-.69Z"
        transform="translate(-5.59 -5.05)"></path><path
        class="cls-1"
        d="M85.15,67.41h1.7a2.64,2.64,0,1,1,0,5.27h-1.7Zm1.65,4.8a2.17,2.17,0,0,0,0-4.34H85.67v4.34Z"
        transform="translate(-5.59 -5.05)"></path><path
        class="cls-1"
        d="M93.26,71H91.14l-.6,1.68H90l1.93-5.27h.56l1.93,5.27h-.55ZM92.2,68s-.11.44-.2.69l-.71,1.91h1.82l-.69-1.91c-.09-.25-.2-.69-.2-.69Z"
        transform="translate(-5.59 -5.05)"></path><path
        class="cls-1"
        d="M97.22,71.69a2,2,0,0,0,1.38.58,1,1,0,0,0,1.05-.91c0-1.33-2.64-1-2.64-2.63a1.52,1.52,0,0,1,1.65-1.41,2.06,2.06,0,0,1,1.41.51l-.26.43a1.78,1.78,0,0,0-1.15-.45,1,1,0,0,0-1.11.91c0,1.25,2.63.89,2.63,2.62a1.46,1.46,0,0,1-1.6,1.43,2.31,2.31,0,0,1-1.67-.68Z"
        transform="translate(-5.59 -5.05)"></path><path
        class="cls-1"
        d="M103.93,71h-2.12l-.6,1.68h-.54l1.93-5.27h.56l1.93,5.27h-.55Zm-1.06-3s-.11.44-.2.69L102,70.55h1.82l-.69-1.91c-.09-.25-.21-.69-.21-.69Z"
        transform="translate(-5.59 -5.05)"></path><path
        class="cls-1"
        d="M105.83,67.41h.52v3.42a1.5,1.5,0,0,0,3,0V67.41h.51v3.43a2,2,0,0,1-4,0Zm2.29-1.26h.6l-.65.89h-.46Z"
        transform="translate(-5.59 -5.05)"></path><path
        class="cls-1"
        d="M111.33,67.41H113a2.64,2.64,0,1,1,0,5.27h-1.7Zm1.65,4.8a2.17,2.17,0,0,0,0-4.34h-1.14v4.34Z"
        transform="translate(-5.59 -5.05)"></path><path
        class="cls-1"
        d="M116.87,67.41h3v.46h-2.45v1.92h2v.47h-2v1.95H120v.47h-3.11Z"
        transform="translate(-5.59 -5.05)"></path><path
        class="cls-2"
        d="M6,31.82l1.44-4.7a4.78,4.78,0,0,1,5.39-3.31l14.91,2.62a.65.65,0,0,1,.53.68,6.11,6.11,0,0,1-2.92,4.78.63.63,0,0,1-.45.08l-14.18-2.7A4.42,4.42,0,0,0,6,31.82ZM28,51.91l1.38-2.62a6.36,6.36,0,0,0-2.65-8.61l-.37-.19L11,33.63a4.23,4.23,0,0,1-1.47-1.14,1.82,1.82,0,0,1-.23-2,4.26,4.26,0,0,0-1.16,8.12l15.92,7.41A7.05,7.05,0,0,1,28,51.91ZM75.83,32.7l-1.59-4.65a4.42,4.42,0,0,1-2.33,4.84L58.85,39a.68.68,0,0,0-.32.33A6.17,6.17,0,0,0,59,45a.63.63,0,0,0,.82.23l13.6-6.64A4.77,4.77,0,0,0,75.83,32.7Zm-31.21-8L45,27.67a6.36,6.36,0,0,0,7.21,5.41l.41-.07,16.43-3.45a4.18,4.18,0,0,1,1.86.06,1.8,1.8,0,0,1,1.33,1.44,4.26,4.26,0,0,0-3.84-7.25L51.21,27.18A7.07,7.07,0,0,1,44.62,24.73Zm13,43.48L47.93,57.55a.67.67,0,0,0-.42-.2,6.13,6.13,0,0,0-5.19,2.08.63.63,0,0,0,0,.86l10.36,11a4.78,4.78,0,0,0,6.3.58L63,69A4.42,4.42,0,0,1,57.66,68.21ZM57,46.74a7.08,7.08,0,0,1,.39-7L54.71,41a6.36,6.36,0,0,0-3,8.48c.06.13.12.25.19.37L60,64.53a4,4,0,0,1,.49,1.8,1.79,1.79,0,0,1-1,1.69,4.25,4.25,0,0,0,5.79-5.8Zm-37,19,7-12.66a.7.7,0,0,0,.06-.45,6.14,6.14,0,0,0-3.65-4.25.63.63,0,0,0-.8.29l-7.1,13.37a4.79,4.79,0,0,0,1.47,6.16l4,2.82A4.41,4.41,0,0,1,20,65.78Zm26.87-9.44L44.8,54.2a6.39,6.39,0,0,0-9-.14l-.29.3L24.23,66.81a4.19,4.19,0,0,1-1.54,1,1.8,1.8,0,0,1-1.92-.39,4.25,4.25,0,0,0,7.36,3.61l12-12.85A7,7,0,0,1,46.86,56.34ZM42.63,8.84l1.81,14.32a.67.67,0,0,0,.22.41,6.15,6.15,0,0,0,5.45,1.29.64.64,0,0,0,.48-.71l-2.12-15a4.77,4.77,0,0,0-4.81-4.11l-4.91.08A4.42,4.42,0,0,1,42.63,8.84ZM29.36,32.78a6.36,6.36,0,0,0,7.37-5.18,2.9,2.9,0,0,0,.06-.41l1.8-16.69a4.1,4.1,0,0,1,.63-1.76A1.82,1.82,0,0,1,41,7.93a4.26,4.26,0,0,0-8.08,1.4L30.8,26.77a7.08,7.08,0,0,1-4.36,5.5Z"
        transform="translate(-5.59 -5.05)"></path></svg
>
