---
import Layout from '../layouts/Layout.astro';
---

<Layout
    title="Obrigado! - Galvão Coach"
    description="Só mais um passo para confirmares o teu contacto"
>
    <section class="flex flex-col items-center">
        <div class="container py-28 flex flex-col items-center">
            <h1 class="text-4xl font-bold text-center mb-8">
                Obrigado pelo teu interesse!
            </h1>
            <span>Só mais um passo...</span>
            <p class="text-lg text-center mb-4">
                Necessitamos que confirmes o teu contacto, por favor verifica o
                teu email.
            </p>
            <a href="/" class="link-hover">Voltar a página de início</a>
        </div>
    </section>
</Layout>
