---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import GalvaoHeroImage from '../assets/images/galvao-hero.webp';
import { YouTube } from '@astro-community/astro-embed-youtube';

import Card from '@/components/molecule/Card.astro';
import ContactForm from '@/components/organism/ContactForm.tsx';
import Carousel from '@/components/organism/Carousel.astro';

const RECAPTCHA_SITE_KEY = import.meta.env.VITE_RECAPTCHA_SITE_KEY;

/**
 * TODO:
 * - Optimize SEO
 */
---

<Layout
    title="Galvão Coach | Personal Trainer Online - Planos de dieta individuais e de treino para casa ou ginásio"
    description="Consegue o teu melhor corpo de sempre, sem passar fome e a comer o que gostas! Muda o teu corpo enquanto comes o que gostas, com planos de dieta individuais e de treino para casa ou ginásio, totalmente personalizado para ti e para a tua rotina"
>
    <main class="px-8 pt-5 lg:px-20 lg:pt-10">
        <script
            is:inline
            type="text/javascript"
            src={`https://www.google.com/recaptcha/api.js?render=${RECAPTCHA_SITE_KEY}`}
        ></script>
        <section
            class="flex items-center justify-center flex-wrap lg:flex-nowrap gap-10"
        >
            <div class="-mt-52 md:-mt-28 lg:mt-0">
                <Image
                    src={GalvaoHeroImage}
                    alt="Foto de perfil do Galvão Coach"
                    class="rounded-xl size-[750px] object-contain lg:object-cover"
                    loading="eager"
                />
                <!-- <Signature class="absolute bottom-20 left-56 text-slate-50 w-72" /> -->
            </div>
            <div class="lg:max-w-2xl lg:-ml-10 md:-mt-48 lg:mt-10 -mt-64 z-10">
                <h1
                    class="text-3xl text-center lg:text-start lg:text-5xl font-bold mb-6"
                >
                    Consegue o teu melhor corpo de sempre, <span
                        class="text-accent font-bold"
                        >sem passar fome e a comer</span
                    > o que gostas!
                </h1>
                <h2 class="text-lg text-center lg:text-start lg:text-xl mb-6">
                    Muda o teu corpo enquanto comes o que gostas, com planos de
                    dieta individuais e de treino para casa ou ginásio, <strong
                        class="text-accent underline"
                        >totalmente personalizado</strong
                    > para ti e para a tua rotina
                </h2>
                <div>
                    <h3
                        class="text-lg text-center lg:text-xl lg:text-start font-bold mb-4"
                    >
                        Deixa-nos o teu contacto e entra na lista de espera:
                    </h3>
                    <ContactForm siteKey={RECAPTCHA_SITE_KEY} client:load />
                </div>
            </div>
        </section>

        <section class="mt-32">
            <h2 class="text-3xl font-bold mb-20 text-center">
                Estas são várias tranformações reais de alguns membros do nosso
                programa:
            </h2>
            <Carousel />
        </section>
        <section class="mt-32">
            <h2 class="text-3xl font-bold mb-20 text-center">
                Ao que tens direito no nosso programa 100% individual?
            </h2>
            <div class="flex justify-around flex-wrap gap-6">
                <Card
                    title="Avaliação Completa"
                    body="Para criar planos 100% adequados a ti e a como te encontras , vamos realizar uma avaliação para saber como te vamos montar o plano nutricional, SÓ com alimentos que gostes de comer no dia a dia , e sem sofrer na abordagem. O mesmo seguirá em relação ao teu treino (se necessário) , em casa ou no ginásio. Assim vamos ter todas as ferramentas para montar a tua abordagem 100% de forma individual e com garantia de excelência"
                />
                <Card
                    title="Individualidade e adaptação"
                    body="Vais ter acompanhamento com a minha equipa diariamente! No teu plano vamos colocar sempre alimentos que gostes, e se te fartares dos mesmos trocamos no dia por outros novos que te agradem e te façam chegar ao objetivo proposto, sem nunca te fartares da abordagem, e tendo prazer no que comes! Vais poder continuar a ter vida social e sair com amigos, enquanto tens resultados"
                />
                <Card
                    title="Acompanhamento constante"
                    body="Vamos ter avaliações contigo semanais ou quinzenais, para perceber como está a reagir o teu corpo e fazer as mudanças devidas! Nunca te vais sentir só! A nossa equipa vai analisar as mudanças corporais até ao milimetro e adaptar o treino e a dieta em prol da tua evolução!"
                />
            </div>
        </section>
        <section class="mt-32">
            <h2 class="text-3xl font-bold mb-20 text-center">
                A nossa melhor montra, são os nossos clientes satisfeitos:
            </h2>
            <div class="flex flex-col lg:flex-row justify-center gap-5">
                <YouTube
                    class="lg:w-1/3"
                    id="https://youtube.com/shorts/v28fKkkM5qA"
                />
                <YouTube class="lg:w-1/3" id="https://youtu.be/Oio-TLbCwwY" />
            </div>
        </section>
        <section class="mt-32">
            <h2 class="text-3xl font-bold mb-8 text-center">
                Não percas mais tempo nem adies a tua transformação!
            </h2>
            <div class="max-w-2xl mx-auto mb-32">
                <h3 class="font-bold text-xl text-center mb-4">
                    Para garantires uma das vagas limitadas no nosso programa,
                    preenche os dados abaixo:
                </h3>
                <ContactForm siteKey={RECAPTCHA_SITE_KEY} client:load />
            </div>
        </section>
    </main>
</Layout>
