---
import Layout from "../layouts/Layout.astro"
---

<Layout
    title="Privacy Policy - Galvão Coach"
    description="Privacy Policy - Galvão Coach"
>
    <header class="px-20 pt-10 ">
        <div class="text-center mb-12">
            <h1 class="text-3xl font-bold mb-2">Políticas de Privacidade</h1>
            <a class="link-hover" aria-label="Home" href="/">www.galvaocoach.com</a>
        </div>
    </header>
    <main class="px-20 pt-10 ">
        <p>
          <strong>Bernardo Galvão</strong>, enquanto responsável pelo
          tratamento, respeita a sua privacidade. O cliente reconhece, aceita e
          presta o seu consentimento, que este para fins de gestão e outras
          finalidades permitidas por lei, recolha e trata os dados pessoais
          relativos à sua pessoa, na sua inscrição, morada, registos
          fotográficos, referências, dados bancários e registos obrigatórios de
          utentes e responsáveis pelos utentes. O cliente consente
          expressamente, nomeadamente, na recolha, registo e integração em base
          de dados, organização, conservação, adaptação, alteração, recuperação,
          consulta, utilização, eliminação e comunicação por transmissão,
          difusão ou qualquer outra forma de colocação à disposição, incluindo a
          possibilidade de comparação e interconexão. O cliente terá direito a
          aceder a esta informação nos termos legais aplicáveis.
          <br />
          <br />O utilizador declara ter lido e entendido as presentes condições
          gerais, assim como as políticas a elas associadas, e que teve a
          oportunidade de procurar aconselhamento legal independente, antes de
          os aceitar. Reconhece ainda tratar-se da declaração completa e
          exclusiva do acordo entre si e Bernardo Galvão, que derroga qualquer
          proposta ou acordo anterior, escrito ou oral, e qualquer outra
          comunicação entre si e Bernardo Galvão, relativa ao objeto do presente
          contrato.
        </p>
    </main>
</Layout>