---
import Layout from '../layouts/Layout.astro';
---

<Layout
    title="Terms and Conditions - Galvão Coach"
    description="Terms and Conditions - Galvão Coach"
>
    <header class="px-20 pt-10">
        <div class="text-center mb-12">
            <h1 class="text-3xl font-bold mb-2">
                Termos e condições dos serviços
            </h1>
            <a aria-label="Home" class="link-hover" href="/"
                >www.galvaocoach.com</a
            >
        </div>
    </header>
    <main class="px-20 pt-10">
        <!-- <h2 class="text-xl font-bold mb-6">Preâmbulo</h2>
        <ol class="mb-6">
            <li class="mb-3">
                Estas condições gerais de venda são acordadas entre Bernardo
                Galvao, unipessoal, com sede em Avenida do miradouro número 33 -
                3B, número de identificação fiscal 517059940 e contacto +351
                925716394, doravante designado por “Galvão Coach” e as pessoas
                que desejem efetuar compras através do website{' '}
                <a aria-label="Home" class="link-hover" href="/"
                    >galvaocoach.com</a
                >{' '}
                doravante designadas por “Utilizador”.
            </li>
            <li class="mb-3">
                As partes acordam que as compras efetuadas através do website{
                    ' '
                }
                <a aria-label="Home" class="link-hover" href="/"
                    >galvaocoach.com</a
                > serão reguladas exclusivamente pelo presente contrato com exclusão
                de quaisquer condições previamente disponíveis no website.
            </li>
        </ol> -->
        <h2 class="text-xl font-bold mb-6">Artigo 1 - Objeto</h2>
        <ol class="mb-6">
            <li class="mb-3">
                As presentes condições gerais de venda têm por objecto
                disponibilizar e definir todas as informações necessárias ao
                Utilizador sobre as modalidades de encomenda, de venda,
                pagamento e prestação do serviço, efetuado no link de pagamento
                disponibilizado por Galvao Coach.{' '}
            </li>
            <li class="mb-3">
                Estas condições regulam todas as etapas necessárias para
                realizar a aquisição e garantem o seguimento desta prestação de
                serviço ao Utilizador.
            </li>
        </ol>
        <h2 class="text-xl font-bold mb-6">Artigo 2 - Encomenda</h2>
        <ol class="mb-6">
            <li class="mb-3">
                O Utilizador concretiza a sua encomenda através da conclusão do
                processo de compra apresentado no link de checkout enviado por
                Galvao Coach, adicionando o(s) produto(s) ou serviço(s) que
                pretende encomendar.
            </li>
            <li class="mb-3">
                Para finalizar a sua encomenda o Utilizador deverá:
            </li>
            <ul class="list-disc ml-8">
                <li class="mb-3">
                    Completar a informação pedida no link de pagamento e
                    escolher as opções que lhe são disponibilizadas ao longo do
                    processo de término da encomenda.
                </li>
            </ul>
            <li class="mb-3">
                A confirmação final da encomenda pelo Utilizador equivale à
                aceitação plena e completa dos preços e descrição dos
                produtos/serviços disponíveis para venda assim como destas
                Condições Gerais de Venda que serão as únicas aplicáveis ao
                contrato assim concluído.
            </li>
            <li class="mb-3">
                Galvão Coach honrará as encomendas recebidas online. Na falta de
                disponibilidade da prestação do serviço Galvão Coach
                compromete-se a informar o Utilizador logo que lhe seja
                possível.
            </li>
            <li class="mb-3">
                Os dados constantes na fatura são da inteira responsabilidade do
                Utilizador. A fatura depois de emitida não poderá ser reemitida
                com alterações.
            </li>
            <li class="mb-3">
                Caso o pagamento da factura não seja recepcionado pelos serviços
                dentro do prazo indicado, a encomenda não será garantida.
            </li>
        </ol>
        <h2 class="text-xl font-bold mb-6">Artigo 3 - Pagamento</h2>
        <ol class="mb-6">
            <li class="mb-3">
                Galvão Coach propõe ao Utilizador as seguintes modalidades de
                pagamento via Stripe Payments:
            </li>
            <ul class="list-disc ml-8">
                <li>Cartão de crédito (Visa, Mastercard);</li>
                <li>Apple Pay;</li>
                <li>Google Pay;</li>
                <li>Débito directo (SEPA);</li>
            </ul>
            <li class="my-3">
                No caso do pagamento com cartão de crédito, o débito será
                efetuado no cartão do Utilizador imediatamente após confirmação
                da capacidade de prestação do serviço. Se algum dos serviços
                encomendados não for possível de ser prestado, o valor dos
                mesmos será creditado no cartão do Utilizador, após o fecho da
                encomenda.
            </li>
        </ol>

        <h2 class="text-xl font-bold mb-6">
            Artigo 4 - Disponibilização e consumo
        </h2>
        <ol class="mb-6">
            <li class="mb-3">
                A disponibilização do serviço será realizada após a confirmação
                do pagamento efectuado.
            </li>
        </ol>
        <h2 class="text-xl font-bold mb-6">Artigo 5 - Preços</h2>
        <ol class="mb-6">
            <li class="mb-3">
                Os preços devem entender-se em Euros, com taxas e impostos
                incluídos, tendo em conta o IVA em vigor à data do pagamento da
                encomenda.
            </li>
            <li class="mb-3">
                Caso se verifique um aumento do Preços de algum serviço, o
                Utilizador será informado de imediato, podendo optar por
                continuar a sua encomenda (efetuando o pagamento da diferença)
                ou por proceder ao seu cancelamento.
            </li>
        </ol>
        <h2 class="text-xl font-bold mb-6">
            Artigo 6 - Cancelamento e devolução
        </h2>
        <ol class="mb-6">
            <li class="mb-3">
                O cliente compromete-se a pagar a quantia devida de cada pack e
                não existe devolução para certos casos. O processo de
                cancelamento ou devolução é tratado caso a caso, por Galvão
                Coach, não sendo feito em todos os casos, de modo a proteger o
                serviço. O pedido deverá chegar por escrito para o e-mail de
                contacto{' '}
                <a
                    aria-label="Home"
                    class="link-hover"
                    href="mailto:bernardo@galvaocoach.com"
                >
                    bernardo@galvaocoach.com
                </a>
                , até 14 dias após a encomenda, sendo as instruções de cancelamento
                ou possibilidade de devolução do valor pago respondidas e definidas
                por Galvão Coach, pelo mesmo meio de comunicação.
            </li>
            <li class="mb-3">
                Galvão Coach refere que o serviço de cobrança mensal automática
                (para todos os packs comprados em forma de subscrição) não têm
                qualquer tipo de reembolso, sendo que o cliente tem de cancelar
                o serviço até 3 dias antes da data de cobrança, por email ou
                pelo contacto de whatsapp. Caso esse pedido não seja feito, não
                existe cancelamento nem devolução de pagamento em caso de
                cobrança.
            </li>
            <li class="mb-3">
                Sempre que possível a devolução deverá realizar-se pela mesma
                via de pagamento, mas caso não seja possível, o utilizador
                deverá apresentar comprovativos de pagamento e de titularidade
                de conta ou cartão, para que se realize a devolução por
                Transferência Bancária.
            </li>
            <li class="mb-3">
                Galvão Coach compromete-se a reembolsar o Utilizador no prazo
                máximo de 14 dias, caso o pedido de devolução seja aceite e
                esteja de acordo com os termos e condições acima descritos.
            </li>
        </ol>
        <h2 class="text-xl font-bold mb-6">
            Artigo 7 - Políticas de privacidade
        </h2>
        <p>
            O tratamento dos seus dados é feito no cumprimento da legislação
            sobre a proteção de dados pessoais. Os mesmos, sujeitos a tratamento
            informático, constarão na(s) base(s) de dados de Galvão Coach e
            destinam-se ao registo e apresentação de outros produtos e serviços,
            bem como informação institucional, a disponibilizar pelas mesmas.
            <br />
            <br />O seu fornecimento é facultativo e é garantido, nos termos da
            lei, o direito de acesso, rectificação e anulação de qualquer dado
            que lhe diga diretamente respeito, pessoalmente ou por via escrita,
            directamente para o endereço <a
                aria-label="Home"
                class="link-hover"
                href="mailto:bernardo@galvaocoach.com"
            >
                bernardo@galvaocoach.com
            </a>.
        </p>
    </main>
</Layout>
