---
import Layout from '../layouts/Layout.astro';
---

<Layout
    title="Terms and Conditions - Galvão Coach"
    description="Terms and Conditions - Galvão Coach"
>
    <header class="px-20 pt-10">
        <div class="text-center mb-12">
            <h1 class="text-3xl font-bold mb-2">
                Termos e condições dos serviços
            </h1>
            <a aria-label="Home" class="link-hover" href="/"
                >www.galvaocoach.com</a
            >
        </div>
    </header>
    <main class="px-20 py-10">
        <!-- <h2 class="text-xl font-bold mb-6">Preâmbulo</h2>
        <ol class="mb-6">
            <li class="mb-3">
                Estas condições gerais de venda são acordadas entre Bernardo
                Galvao, unipessoal, com sede em Avenida do miradouro número 33 -
                3B, número de identificação fiscal 517059940 e contacto +351
                925716394, doravante designado por “Galvão Coach” e as pessoas
                que desejem efetuar compras através do website{' '}
                <a aria-label="Home" class="link-hover" href="/"
                    >galvaocoach.com</a
                >{' '}
                doravante designadas por “Utilizador”.
            </li>
            <li class="mb-3">
                As partes acordam que as compras efetuadas através do website{
                    ' '
                }
                <a aria-label="Home" class="link-hover" href="/"
                    >galvaocoach.com</a
                > serão reguladas exclusivamente pelo presente contrato com exclusão
                de quaisquer condições previamente disponíveis no website.
            </li>
        </ol> -->
        <h2 class="text-xl font-bold mb-6">Artigo 1 - Objeto</h2>
        <ol class="mb-6">
            <li class="mb-3">
                As presentes condições gerais de venda têm por objecto
                disponibilizar e definir todas as informações necessárias ao
                Utilizador sobre as modalidades de encomenda, de venda,
                pagamento e prestação do serviço, efetuado no link de pagamento
                disponibilizado por Galvao Coach.{' '}
            </li>
            <li class="mb-3">
                Estas condições regulam todas as etapas necessárias para
                realizar a aquisição e garantem o seguimento desta prestação de
                serviço ao Utilizador.
            </li>
        </ol>
        <h2 class="text-xl font-bold mb-6">Artigo 2 - Encomenda</h2>
        <ol class="mb-6">
            <li class="mb-3">
                O Utilizador concretiza a sua encomenda através da conclusão do
                processo de compra apresentado no link de checkout enviado por
                Galvao Coach, adicionando o(s) produto(s) ou serviço(s) que
                pretende encomendar.
            </li>
            <li class="mb-3">
                Para finalizar a sua encomenda o Utilizador deverá:
            </li>
            <ul class="list-disc ml-8">
                <li class="mb-3">
                    Completar a informação pedida no link de pagamento e
                    escolher as opções que lhe são disponibilizadas ao longo do
                    processo de término da encomenda.
                </li>
            </ul>
            <li class="mb-3">
                A confirmação final da encomenda pelo Utilizador equivale à
                aceitação plena e completa dos preços e descrição dos
                produtos/serviços disponíveis para venda assim como destas
                Condições Gerais de Venda que serão as únicas aplicáveis ao
                contrato assim concluído.
            </li>
            <li class="mb-3">
                Galvão Coach honrará as encomendas recebidas online. Na falta de
                disponibilidade da prestação do serviço Galvão Coach
                compromete-se a informar o Utilizador logo que lhe seja
                possível.
            </li>
            <li class="mb-3">
                Os dados constantes na fatura são da inteira responsabilidade do
                Utilizador. A fatura depois de emitida não poderá ser reemitida
                com alterações.
            </li>
            <li class="mb-3">
                Caso o pagamento da factura não seja recepcionado pelos serviços
                dentro do prazo indicado, a encomenda não será garantida.
            </li>
        </ol>
        <h2 class="text-xl font-bold mb-6">Artigo 3 - Pagamento</h2>
        <ol class="mb-6">
            <li class="mb-3">
                Galvão Coach propõe ao Utilizador as seguintes modalidades de
                pagamento via Stripe Payments:
            </li>
            <ul class="list-disc ml-8">
                <li>Cartão de crédito (Visa, Mastercard);</li>
                <li>Apple Pay;</li>
                <li>Google Pay;</li>
                <li>Débito directo (SEPA);</li>
            </ul>
            <li class="my-3">
                No caso do pagamento com cartão de crédito, o débito será
                efetuado no cartão do Utilizador imediatamente após confirmação
                da capacidade de prestação do serviço. Se algum dos serviços
                encomendados não for possível de ser prestado, o valor dos
                mesmos será creditado no cartão do Utilizador, após o fecho da
                encomenda.
            </li>
        </ol>

        <h2 class="text-xl font-bold mb-6">
            Artigo 4 - Disponibilização e consumo
        </h2>
        <ol class="mb-6">
            <li class="mb-3">
                A disponibilização do serviço será realizada após a confirmação
                do pagamento efectuado.
            </li>
        </ol>
        <h2 class="text-xl font-bold mb-6">Artigo 5 - Preços</h2>
        <ol class="mb-6">
            <li class="mb-3">
                Os preços devem entender-se em Euros, com taxas e impostos
                incluídos, tendo em conta o IVA em vigor à data do pagamento da
                encomenda.
            </li>
            <li class="mb-3">
                Caso se verifique um aumento do Preços de algum serviço, o
                Utilizador será informado de imediato, podendo optar por
                continuar a sua encomenda (efetuando o pagamento da diferença)
                ou por proceder ao seu cancelamento.
            </li>
        </ol>
        <h2 class="text-xl font-bold mb-6">
            Artigo 6 - Cancelamento e devolução
        </h2>
        <ol class="mb-6">
            <li class="mb-3">
                Ao aceitar os Termos e Condições no momento de registo e/ou
                pagamento, o cliente declara que leu, compreendeu e aceita que
                os serviços de teleconsulta e acompanhamento prestados por
                Galvão Coach têm início imediato após a confirmação do
                pagamento.
            </li>
            <li class="mb-3">
                Nos termos do artigo 17.º do Decreto-Lei n.º 24/2014, o cliente
                reconhece que ao aceitar que o serviço seja iniciado de
                imediato, perde o direito ao cancelamento com reembolso (direito
                de livre resolução) após o início da prestação do mesmo.
            </li>
            <li class="mb-3">
                O pedido de cancelamento poderá ser aceite apenas se o serviço
                ainda não tiver sido iniciado, e deverá ser solicitado por
                escrito para o e-mail contacto{' '}
                <a
                    aria-label="Home"
                    class="link-hover"
                    href="mailto:bernardo@galvaocoach.com"
                >
                    bernardo@galvaocoach.com
                </a>
                , até 14 dias após a compra. A decisão será avaliada caso a caso,
                sem compromisso de aceitação.
            </li>
            <li class="mb-3">
                Para todos os serviços em formato de subscrição com cobrança
                mensal automática, não há lugar a reembolso de pagamentos já
                realizados. O cliente poderá solicitar o cancelamento da
                renovação automática até 3 dias antes da data da próxima
                cobrança, através de e-mail ou WhatsApp.
            </li>
            <li class="mb-3">
                Sempre que possível, a devolução será processada pelo mesmo
                método de pagamento utilizado. Caso tal não seja viável, o
                cliente deverá apresentar comprovativos de pagamento e de
                titularidade bancária para que a devolução possa ser efetuada
                por transferência bancária.
            </li>
            <li class="mb-3">
                Quando aplicável, Galvão Coach compromete-se a reembolsar o
                valor devido no prazo máximo de 14 dias úteis após aceitação
                formal do pedido.
            </li>
        </ol>
        <h2 class="text-xl font-bold mb-6">
            Artigo 7 - Políticas de privacidade
        </h2>
        <p>
            O tratamento dos seus dados é feito no cumprimento da legislação
            sobre a proteção de dados pessoais. Os mesmos, sujeitos a tratamento
            informático, constarão na(s) base(s) de dados de Galvão Coach e
            destinam-se ao registo e apresentação de outros produtos e serviços,
            bem como informação institucional, a disponibilizar pelas mesmas.
            <br />
            <br />O seu fornecimento é facultativo e é garantido, nos termos da
            lei, o direito de acesso, rectificação e anulação de qualquer dado
            que lhe diga diretamente respeito, pessoalmente ou por via escrita,
            directamente para o endereço <a
                aria-label="Home"
                class="link-hover"
                href="mailto:bernardo@galvaocoach.com"
            >
                bernardo@galvaocoach.com
            </a>.
        </p>
    </main>
</Layout>
