---
// import { MailCheck } from 'lucide-react';
import Layout from '../layouts/Layout.astro';
---

<Layout
    title="Obrigado! - Galvão Coach"
    description="Obrigado pela tua confiança, em breve entraremos em contacto"
>
    <section class="flex flex-col items-center">
        <div class="container py-28 flex flex-col items-center">
            <h1 class="text-4xl font-bold text-center mb-8">
                Obrigado por te registares!
            </h1>
            <p class="text-lg text-center mb-4">
                Teu contacto está guardado e num prazo máximo de 48h entraremos
                em contato contigo.
            </p>
            <a href="/" class="link-hover">Voltar a página de início</a>
        </div>
        <!-- <div class="toast toast-bottom toast-center md:toast-top md:toast-end">
            <div class="alert alert-success flex">
                <MailCheck size="24" />
                <span>Teu contacto foi enviado com sucesso.</span>
            </div>
        </div> -->
    </section>
</Layout>

<!-- <script>
    const toast = document.querySelector('.toast');
    if (toast) {
        setTimeout(() => {
            toast.classList.add('hidden');
        }, 3000);
    }
</script> -->
