---
interface Props {
    title: string;
    body: string;
    // href: string;
}

const { title, body } = Astro.props;
---

<article
    class="flex flex-col p-6 rounded-xl max-w-sm min-h-96 bg-gradient-to-t from-bgteam-primary-500 to-bgteam-secondary-950 hover:outline-1 hover:outline hover:outline-accent outline-offset-4"
>
    <h3 class="text-xl font-bold mb-6">
        {title}
        <span>&rarr;</span>
    </h3>
    <p>
        {body}
    </p>
</article>
