---
import '@fontsource-variable/exo';
import BGteam from '@/assets/images/BGteam.astro';

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;

/**
 * TODO:
 * - SEO
 * - insert FB tags, Google tags, etc.
 * - Add Fonts
 */
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="bg-bgteam-dark text-bgteam-light">
        <slot />
        <footer
            class="flex flex-col justify-center items-center mt-32 py-12 bg-bgteam-primary-950"
        >
            <a href="/" aria-label="Home">
                <BGteam class="size-32 mb-4" />
            </a>
            <div class="flex gap-3 flex-wrap justify-center mb-12 px-8">
                <a
                    class="link-hover"
                    href="/terms-and-conditions"
                    aria-label="Termos e Condições do serviço"
                    rel="nofollow"
                    target="_blank">Termos e Condições do serviço</a
                >
                <a
                    class="link-hover"
                    href="/privacy-policy"
                    aria-label="Poíticas de privacidade"
                    rel="nofollow"
                    target="_blank">Políticas de privacidade</a
                >
            </div>
            <span class="px-8 text-center">
                Copyright &copy; 2024 - Bernardo Galvão Personal Trainer &
                Online Coach
            </span>
        </footer>
    </body>
</html>

<style is:global>
    :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%
        );
    }
    html {
        font-family: 'Exo Variable', system-ui, sans-serif;
        background: #13151a;
    }
    code {
        font-family:
            Menlo,
            Monaco,
            Lucida Console,
            Liberation Mono,
            DejaVu Sans Mono,
            Bitstream Vera Sans Mono,
            Courier New,
            monospace;
    }
</style>
